.offer {
    display: flex;
    flex-direction: column;
    margin: 5em 0;

    &__info {
        text-align: center;
        font-size: 1.8rem;
    }

    li {
        font-size: 1.8rem;
        list-style-type: none;
    }

    &__container {
        margin: 3em auto;
    }

    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    ol li {
        margin: 1em 0;
    }

    ul li {
        margin: 0.5em 1.2em;
        list-style-type: disc;
    }

    &__left {
        padding: 2em;
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        background-repeat: no-repeat;
        background-image: url('../img/bg-sm.jpg');
    }

    &__img {
        // transform: rotate(5deg);
        width: 80%;
    }

}

@media(min-width: 768px) {
    .offer {
        &__info {
            font-size: 2rem;
        }

        li {
            font-size: 2rem;
        }
    }
}

@media(min-width: 992px) {
    .offer {
        flex-direction: row;
        height: auto;

        &__left {
            flex: 2;
            height: 100%;
        }

        &__container {
            width: 80%;
        }

        &__right {
            flex: 1;
            height: auto;
            background-image: url('../img/bg-big.jpg');
        }
    }

}